  
  body {
    background-color: lightblue;
  }
  .card_index {
    margin-top:0;
    justify-content: center;
    border: black solid 2.0px;
    background-color: white;
    font-size: 150%;
    font-weight: bolder;
    color: black;
    text-align: center;
  }

  .clock_class {
    position: absolute;
    top:0;
    left:2%;
    margin-top:0;
    font-size: 150%;
    font-weight: bolder;
    color: black;
    text-align: left;  
  }
  progress{
    position: absolute;
    left:0;
    bottom:5%;
    height: 100%;
    width:100%;
    background-color:green !important;
    opacity: 0.8;
  }

  .fa-gear {
    color:rgba(32, 147, 255, 0.87);
    font-size:48px;
    position: absolute;
    right:1%;
  }
  .fa-cloud-download{
    color:rgba(32, 147, 255, 0.87);
    font-size:40px;
    position: absolute;
    right:1%;
    top:100px;
  }

  .fa-bars {
    color:rgba(32, 147, 255, 0.87);
    font-size:48px;
    position:absolute;
    right:1%;
    bottom:8%;
  }

  .fa-play {
    position: absolute;
    color:lightgray;
    font-size:110px;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: 1;
    padding: 60% 0;
  }
  .fa-pause {
    position: absolute;
    color:lightgray;
    font-size:110px;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: 1;
    padding: 60% 0;
  }
  .fa-times {
    position: absolute;
    color:black;
    text-align: right;
    width:20%;
    height: 10%;
    top:1%;
    right:1%;
    font-size: 45px;
  }


  .fa-caret-left {
    position: absolute;
    color:black;
    top:40%;
    left:0;
    font-size: 120px;
  }

  .fa-caret-right {
    position: absolute;
    color:black;
    top:40%;
    right:0;
    font-size: 120px;
  }

  .App-link {
    color: #61dafb;
  }
  
  .cards_footer {
    position:absolute;
    bottom:0;
    color: #23304b;
    background-color:powderblue;
    border: black solid 2.0px;
    width: 100%;
    height: 5%;
    background-size: 100% 100%;
  }
  
  .start_button {
    float:left;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: bolder;
    width:33.33%;
    height:100%;
    background-color: white;
    border: black solid 1px;
    box-shadow: 0 1px #999;
  }
  
  .history_button {
    position: relative;
    cursor: pointer;
    width:33.33%;
    height:100%;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: bolder;
    background-color: white;
    border: black solid 1px;
    box-shadow: 0 1px #999;
  }
  
  .tutorial_body {
    font-weight:bolder;
    text-align:center;
    margin-top:20%;
    padding:16px;

  }

  @media only screen and (max-width: 800px) {
    .tutorial_body p {
      font-size: 20px !important;
    }
  }

  .reset_button {
    float:right;
    position: relative;
    cursor: pointer;
    width:33.33%;
    height:100%;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    font-weight: bolder;
    background-color:white;
    border: black solid 1px;
    box-shadow: 0 1px #999;
  }
  
  .history_left_button {
    float:left;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: bolder;
    width:33.33%;
    height:100%;
    background-color: white;
    border: black solid 1px;
    box-shadow: 0 1px #999;
  }

  .history_right_button {
    position: relative;
    cursor: pointer;
    width:33.33%;
    height:100%;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: bolder;
    background-color: white;
    border: black solid 1px;
    box-shadow: 0 1px #999;
  }
  
  .history_exit_button {
    float:right;
    position: relative;
    cursor: pointer;
    width:33.33%;
    height:100%;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    font-weight: bolder;
    background-color:white;
    border: black solid 1px;
    box-shadow: 0 1px #999;
  }
  .start_button:hover, .history_button:hover, 
  .reset_button:hover, .history_exit_button:hover,
  .history_left_button:hover, .history_right_button:hover {background-color:lightgray}
  
  .start_button:active, .history_button:active,
  .reset_button:active, .history_exit_button:active,
  .history_left_button:active,.history_right_button:active {
    transform: translateY(6px);
  }
  

  #exit_icon:active, #history_icon:active,
  #play_icon:active, #pause_icon:active, 
  #config_icon, #left_arrow_icon:active, 
  #right_arrow_icon:active {
    transform: translateY(8px);
  }
  .used_cards_div {
    padding: 10px;
    width:60%;
    font-weight: bolder;
    font-family:'Sofia';
    text-align: center;
  }

  .card_cover_class {
    font-family: 'Sofia';
    margin-top: 50%;
    font-weight: bolder;
    font-size: 400% !important;
  }
  
  .img_id {
    text-align: center;
    float: none;
    position: absolute;
    top:10%;
    margin-left:37.5%;
    margin-right:37.5% ;
    background-color:#e6e6ff;
    border: black solid 3.0px;
    width: 25%;
    height: 75%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .card_id_class{
    text-align: center;
    float: none;
    position: absolute;
    top:10%;
    margin-left:37.5%;
    margin-right:37.5% ;
    opacity: 0;
    border: black solid 3.0px;
    width: 25%;
    height: 75%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .history_class {
    float: none;
    position: absolute;
    top:10%;
    margin-left:37.5%;
    margin-right:37.5% ;
    color: #23304b;
    background-color: lightgoldenrodyellow;
    border: black solid 3.0px;
    width: 25%;
    height: 75%;
    background-size: 65% 60% !important;
    background-position: center !important;
    background-repeat: no-repeat;
  }

  #radio_form {
    font-size: 30px;
  }

  #new_game {
    width:80%;
    margin-left: 10%;
    height:10%;
    font-size:2em;
    position: absolute;
    font-weight: bolder;
    bottom:2%;
    left:0;
    background-color: lightskyblue;
  }

  #new_game:active {
    transform: translateY(8px);
  }

  #config_save_exit {
    width:40%;
    font-size:1.5em;
  }

  .config_class {
    float: none;
    position: absolute;
    top:10%;
    padding: 1%;
    margin-left:37.5%;
    margin-right:37.5% ;
    color: #23304b;
    background-color: lightgoldenrodyellow;
    border: black solid 3.0px;
    width: 25%;
    height: 75%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 800px) {
    .img_id {
      float: none;
      top:0;
      position: absolute;
      background-color:#e6e6ff;
      border: black solid 3.0px;
      text-align: center;
      margin-left:0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

  }
  

  @media only screen and (max-width: 800px) {
    .history_class {
      float: none;
      top:0;
      position: absolute;
      color: #23304b;
      background-color: lightgoldenrodyellow;
      border: black solid 3.0px;
      margin-left:0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width: 800px) {
    .config_class {
      float: none;
      top:0;
      padding: 5%;
      position: absolute;
      color: #23304b;
      background-color: lightgoldenrodyellow;
      border: black solid 3.0px;
      margin-left:0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width: 500px) {
    .cards_footer {
      position: absolute;
      bottom:0;
      color: #23304b;
      background-color:powderblue;
      border: black solid 3.0px;
      width: 100%;
      height: 5%;
      background-size: 100% 100%;
    }

  }

  @media only screen and (max-height: 500px) {
    .cards_footer {
      position: absolute;
      bottom:0;
      color: #23304b;
      background-color:powderblue;
      border: black solid 3.0px;
      width: 100%;
      height: 10%;
      background-size: 100% 100%;
    }

  }

  
  #tutorial {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    width: 20%;
    height: 65%;
    border: 2px solid #34495e;
    border-radius: 4px;
    text-align: center;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  @media only screen and (max-width: 800px) {
    #tutorial {
      position: absolute;
      z-index: 3;
      background-color: rgba(255, 255, 255, 1);
      width: 90%;
      height: 80%;
      border: 2px solid #34495e;
      border-radius: 4px;
      text-align: center;
      float: right;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }

  }

#skipButton {
  color: #ffffff;
  position: absolute;
  left:2%;
  margin-bottom:0;
  background-color: #1abc9c;
  width:30%;
  bottom: 2%;
}

#previousButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 35%;
  width:30%;
  margin-bottom:0;
  bottom: 2%;
}

#nextButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  width:30%;
  margin-bottom:0;
  bottom: 2%;
}

#finishButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  width:30%;
  margin-bottom:0;
  bottom: 2%;
}

#tutorialCounter {
  position: absolute;
  right: 2%;
  top: 2%;
  font-weight: bold;
  font-size:18px;
}

#mainTutorialImage {
  width: 25%;
  padding-top: 5px;
}

#secondTutorialImage {
  padding-top: 5px;
}

#tutorial > h3 {
  padding-bottom: 5px;
}

#tutorial > h6 {
  padding: 5px 20px 5px 20px;
}

#tutorial > p {
  padding: 5px 20px 5px 20px;
}

p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}

